.memory {
  display: flex;
  flex-wrap: wrap;
  width: 75vw;
  margin: auto;
  user-select: none;
}

body{
  background-color: #eee;
  background-image: url("img/bg_poker.jpg"); 
  color:#eee;
  max-width:100vw;
  max-height:100vh;
}

h1{
  text-align:center;
}
